.fi-placeholder {
    display: inline-block;
    min-width: 150px;
    min-height: 150px;
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #fff;
    margin: 0 0 10px 0;
}
.fi-placeholder.dnd:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: rgba(255,255,255,.5);
}
.fi-upload-input {
    display: none;
}
.fi-actions {
    text-align: center;
    padding: 7px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    background: rgba(0,0,0,0.05);
}
.fi-btn {
    display: inline-block;
    text-align: center;
    padding:5px 10px;
    border: 1px solid rgba(0,0,0,0.15);
    background-color: #fff;
    color: #292b2c;
    text-decoration:none !important;
    margin:0 1px;
    min-width: 65px;
    transition: all 0.15s ease;
}
.fi-btn:not(.disabled):hover {
    border-color: rgba(0,0,0,0.3);
}
.fi-btn:not(.disabled):active {
    background-color: #f7f7f7;
}
.fi-btn .fa {
    font-size: 14px;
}
.fi-btn.disabled {
    opacity:0.5;
    cursor:not-allowed;
}
.fi-progress {
    display: none;
    position:absolute;
    z-index: 10;
    bottom:-1px;
    left:-1px;
    width:0;
    height:2px;
    background-color: #5cb85c;
    transition:width .5s ease;
}
.fi-image {
    width:auto;
    height:auto;
    max-width:150px;
    max-height:150px;
}

/* evo darkness mode */

.darkness .fi-placeholder {
    border: 1px solid rgba(255,255,255,0.15);
    background: #202329;
}
.darkness .fi-actions {
    border-top-color: transparent;
    background-color: transparent;
}
.darkness .fi-btn {
    border: 1px solid rgba(255,255,255,0.3);
    background-color: rgba(0,0,0,0.5);
    color: #999;
}
.darkness .fi-btn:not(.disabled):hover {
    border-color: rgba(255,255,255,0.5);
}
.darkness .fi-btn:not(.disabled):active {
    background-color: rgba(0,0,0,0.4);
    border-color: rgba(255,255,255,0.65);
    color: #ebebeb;
}